/* Global setting */
:root {
  /* Color */
  --color-whitesmoke: #f5f5f5;
  --color-white: #ffffff;
  --color-lightgrey: #f5f5f5;
  --color-black: #000000;
  --color-light-white: #;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #c2c2c2;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-contact: #ededed;
  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /* border radius */
  --size-borderradius: 20%;
}

/* Universal tags */
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

body {
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  padding: 0px;
}

li {
  list-style: none;
}

button {
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-style: none;
}

.section {
  text-align: center;
  margin: auto;
  padding: 60px 0px;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* Navbar */

#navbar {
  position: fixed;
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  width: 100%;
  z-index: 1;
  padding: 15px 0px;
}

#navbar.navbar__grey {
  background-color: var(--color-whitesmoke);
  transition: all ease 1s;
  padding: 0px;
}

.navbar__title {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.navbar__title__name {
  display: flex;
  flex-direction: column;
  color: var(--color-dark-grey);
}

.navbar__title__main {
  font-size: 34;
}

.navbar__title__sub {
  font-size: 4px;
}

.navbar__menu {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar__menu__item {
  padding: 4px 4px;
  margin: 4px 10px;
  cursor: pointer;
  border: 1px solid transparent;
}

.navbar__menu__item:hover {
  background-color: var(--color-whitesmoke);
  border-radius: var(--size-borderradius);
  border: 1px solid var(--color-black);
  transition: 300ms ease;
}

.navbar__bar {
  position: absolute;
  right: 30px;
  top: 23px;
  display: none;
  font-size: large;
}

/* Home */

#home {
  background-image: url(images/background2.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  opacity: 1;
  transition: all ease-in 1s;
}

.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__photo {
  width: 250px;
  height: 270px;
  border-radius: 50%;
  margin-bottom: 40px;
  border: 1px solid var(--color-black);
}

.home__profile {
  color: var(--color-black);
}

.home__contact {
  color: var(--color-black);
  border: 1px solid var(--color-black);
  padding: 4px 8px;
  margin-top: 25px;
}

/* about */

#about {
  background-color: var(--color-white);
}

.majors {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-right: 0px;
  padding: 0px 200px;
}
.major__icon {
  width: 120px;
  height: 120px;
  font-size: 50px;
  margin: auto;
  line-height: 120px;
  border: 3px solid var(--color-blue);
  border-radius: 50%;
  color: var(--color-blue);
}

.major__icon:hover {
  color: var(--color-pink);
  transform: rotate(360deg);
  transition: all ease 300ms;
}

.major__title {
  margin-top: 20px;
  color: var(--color-dark-grey);
}

.major__discription {
  color: var(--color-grey);
  font-size: var(--font-micro);
}

.carrer {
  text-align: left;
  margin-top: 60px;
}

.carrer__detail {
  display: flex;
  align-items: center;
  margin: 10px;
}

.carrer__Detail__logo {
  font-size: 35px;
  margin-right: 10px;
  color: var(--color-blue);
}

.carrer__discription__title {
  font-size: var(--font-micro);
  color: var(--color-dark-grey);
}
.carrer__discription__period {
  font-size: var(--font-micro);
  color: var(--color-grey);
}

/* Skills */

#skills {
  background-color: var(--color-whitesmoke);
}

.skillset {
  display: flex;
  color: var(--color-dark-white);
  background-color: var(--color-black);
  margin: 40px 0px;
}

.skillset__title {
  color: var(--color-white);
}

.skillset__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 60%;
  padding: 40px 30px;
}

.skillset__discription {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.skillset__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skillset__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
}

.skillset__righttop {
  background-color: var(--color-dark-grey);
  height: 50%;
  padding-top: 10px;
}

.skillset__rightbottom {
  background-color: var(--color-grey);
  height: 50%;
  padding-top: 10px;
}

/* Work */

.work__categories {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.categories__btn {
  border: 1px solid var(--color-black);
  width: 200px;
  height: 30px;
  border-radius: 3px;
  background-color: var(--color-white);
  font-weight: var(--weight-semi-bold);
}

.categories__count {
  background-color: var(--color-whitesmoke);
  color: var(--color-black);
  font-size: var(--font-micro);
  opacity: 0;
  position: relative;
  top: -15px;
  left: 10px;
  border: 1px solid var(--color-black);
  display: inline-block;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  line-height: 18px;
}

.categories__btn.selected,
.categories__btn:hover {
  background-color: var(--color-grey);
  color: var(--color-white);
}

.categories__btn.selected .categories__count,
.categories__btn:hover .categories__count {
  opacity: 1;
  top: 0;
  transition: all 300ms ease;
}

.work__projects {
  display: flex;
  padding-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.animation__out {
  opacity: 0;
  transform: scale(0.98) translateY(15px);
  transition: all ease-out 300ms;
}

.projects {
  width: 240px;
  height: 220px;
  position: relative;
  margin: 3px;
  background-color: var(--color-whitesmoke);
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects__none {
  display: none;
}

.project__image {
  max-width: 100%;
  max-height: 100%;
}

.project__discription {
  position: absolute;
  background-color: var(--color-black);
  font-size: var(--font-micro);
  color: var(--color-whitesmoke);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: translateY(20px);
}

.project__discription h3 {
  color: var(--color-whitesmoke);
}

.project__discription:after {
  content: "";
  height: 1px;
  background-color: var(--color-whitesmoke);
  width: 60px;
  display: block;
  position: relative;
  bottom: 22px;
  left: 36%;
}

.projects:hover .project__discription {
  opacity: 75%;
  bottom: 0;
  transition: all ease-in 300ms;
  transform: translateY(0);
}

/* Testimonial */

#testimonial {
  background-color: var(--color-lightgrey);
}

.testimonial__list {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 50px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 50px;
}

.tetimonial__people-buble {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  width: 700px;
  height: 150px;
  border-radius: 3%;
  color: var(--color-grey);
}

.tetimonial__people-buble p {
  color: var(--color-grey);
}
.tetimonial__people-buble a {
  color: var(--color-blue);
}

/* Contact */

#contact {
  background-color: var(--color-contact);
}

.contact__email {
  margin-top: 25px;
}

.contact__link {
  font-size: 50px;
  margin: 25px 0px;
}

.contact__link a {
  margin: 0px 10px;
}

.contact__link i:hover {
  color: var(--color-dark-pink);
  transform: scale(1.5);
  transition: all ease-in 300ms;
}

.contact__rights {
  color: var(--color-grey);
}

/* arrow button */

.arrowbutton {
  position: fixed;
  bottom: 5%;
  right: 40px;
  font-size: 35px;
  z-index: 1;
  color: var(--color-dark-grey);
  pointer-events: none;
  opacity: 0;
  transition: all 300ms ease-in;
}

.arrowbutton.pop {
  opacity: 1;
  pointer-events: auto;
}


/* media  */

@media (max-width: 768px) {
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__title__name {
    display: none;
  }

  .navbar__bar {
    display: block;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    border: none;
    display: none;
  }

  .navbar__menu__item:hover,
  .navbar__menu__item.active {
    border: none;
    border-radius: 0;
  }

  .majors {
    flex-direction: column;
  }

  .major {
    margin: 20px 0px;
  }

  .skillset {
    flex-direction: column;
  }

  .testimonial__avatar {
    width: 100px;
    height: 100px;
  }

  .arrowbutton.pop {
    bottom : 3%;
    right: 2%;
}
